---
---

@import "{{ site.theme }}";

.page-header {
  background-image: #2e6669;
  background-image: linear-gradient(120deg, #13262b, #18a2a5);
}

@media screen and (min-width: 64em) {
  .page-header {
    padding-bottom: 3.5rem;
  }
}

.textImportant {
  color: #007e9c;
  font-weight: bold;
}

.main-content h1 {
  font-size: 1.8em;
  color: #0b405a;
  margin-top: 3em;
}

.main-content h2 {
  text-align: right;
  color: #0b405a;
  font-size: 2.4em;
  font-style: italic;
  margin-top: 2.5em;
}

.main-content h3 {
  color: #0b405a;
  font-size: 1.8em;
  margin-top: 2.5em;
}

@media screen and (max-width: 42em) {
  .main-content h2 {
    font-size: 2em;
  }

  .main-content h3 {
    font-size: 1.4em;
  }
}

.main-content p, .main-content li {
  text-align: justify;
  color: #293033;
}

.listWithMargin li {
  margin-bottom: 1em;
}

.main-content a {
  color: #1e868b;
  font-style: italic;
  font-size: 1rem;
}

.main-content blockquote {
  margin-top: 2em;
  margin-right: 0;
  font-style: italic;
  margin-bottom: 1em;
  font-size: 150%;
}

.main-content blockquote p {
  text-align: right;
}

.main-content p.quoteSource {
  font-style: italic;
  text-align: right;
  margin-bottom: 2em;
}

.main-content p.backToToC {
  text-align: right;
  font-size: 90%;
  margin-top: 2.5em;
}
